[
    {
        "albumId": "550e8400-e29b-41d4-a716-446655440000",
        "albumTitle": "Get Lucky"
    },
    {
        "albumId": "550e8400-e29b-41d4-a716-446655440111",
        "albumTitle": "Loose yourself to dance"
    },
    {
        "albumId": "550e8400-e29b-41d4-a716-446655440222",
        "albumTitle": "Gio sorgio by Morodera"
    }
]